.Quadro{
    text-align: center;
    color: black;
    height: 50px;
    width: 100px;
    border-style: solid;
    margin:5px;
}
#right{
   display: flex;
   
}
th, td {
    border: 2px solid black;
                padding: 10px;
                text-align: center;
}
#Pname{
    text-align: center;
}